<!DOCTYPE html>
<html lang="en">
<%- include ('partials/head'); %>

<body>
  
  <!-- Header -->
  <%- include ('partials/header'); %>

  <%- include ('partials/indexcontent'); %>

    <div class="credit"> &copy; copyright ©2023 by <span class="yellow">mr.Jaranya</span> 
      | all rights reserved! </div>
  </section>

  <script src="/script/script.js"></script>
  <!-- js file link -->
</body>
</html>