<%- include ('partials/head'); %>

<body>
  
  <!-- Header -->
  <%- include ('partials/header'); %>


  <!-- Home -->
  <section>
    <div class="order">
      <h1 class="yellow">Current <span style="color:gray">Orders</span></h1>
    </div>
    <div class="box-container order-box">
      <div>
        <li>01</li>
        <li>02</li>
        <li>03</li>
        <br/>
        <!-- <input type="submit" value="Send Order"></input> -->
        <a href="#" class="btn">Send Order</a>
      </div>
  </section>
  
  <!-- js file link -->
  <!-- <script src="script.js"></script> -->
</body>
</html>