@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

/* =========== BASIC SETTING =========== */
/* กรอบขาว */
:root {
    --black: #1f1f1f;
    --white: #fff;
    --yellow: #ffc554;
    --deep-yellow: #ffc727;
    --bg-yellow: #fffaf1;
    --btn-yellow: #fff4d4;
    --footer-yellow: #fff9e9;
    --grey: #737373;
    --box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
    --transition: all 0.2s linear;
}

html {
    font-size: 65%;
    box-sizing: border-box;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
}

body {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    /* color: var(--black); */
}

a {
    text-decoration: none;
    color: inherit;
}

section {
    padding: 2rem 9%;
}

.head {
    text-align: center;
    font-size: 3.5rem;
    padding: 1rem;
    color: #666;
}
  
/* li {
    list-style: none;
} */
  
/* img {
    height: 100%;
} */

.yellow {
    color: var(--yellow);
}

.logo {
    font-size: 3.6rem;
    font-weight: 700;
}

/* =========== Header =========== */
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 1rem 7%;
    height: 8rem;
    background: var(--white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: var(--box-shadow);
    z-index: 1000;
}

/* =========== Navbar =========== */
.navbar a {
    font-weight: 500;
    transition: var(--transition);
    padding: 1rem;
    border-bottom: 2px solid transparent;
}
/* ความห่าง */
.navbar a:not(:last-child) {
    margin-right: 1rem;
}
/* สีตอนวางเมาส์ */
.navbar a:hover {
    color: var(--yellow);
    border-color: var(--yellow);
}
/* กรอบตรงmake an order */
.btn {
    display: inline-block;
    color: var(--yellow);
    background-color: var(--btn-yellow);
    padding: 1rem;
    border-radius: 0.5rem;
    transition: var(--transition);
}
/* เงากรอบตรงmake an order ตอนคลิกเมาส์ */  
.btn:hover {
    box-shadow: var(--box-shadow);
} 

#menu-bar{
    font-size: 3rem;
    cursor: pointer;
    color: #666;
    border: .1rem solid #666;
    padding: .5rem 1.5rem;
    display: none;
}

/* =========== Home =========== */
.home {
    padding-top: 13rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 2rem;
    /* display: flex;
    flex-wrap: wrap;
    gap: 1.5rem; */
}
  
.home .image img {
    width: 100%;
}

/* Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }

  /* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

#footer {
    box-sizing: border-box;
    border: gray solid 1px;
}

.order {
    font-size: 4.8rem;
    font-weight: 400;
    margin-bottom: 1rem;
    margin-top: 10rem;
    text-align: center;
}

.order-box {
    box-sizing:content-box;
    width: 75%;
    margin: auto;
    background-color: #fff4d4;
    height:fit-content;
}

.order-box h1{
    font-size: 3rem;
    font-weight: 200;
    margin-left: 3rem;
    margin-top: 2rem;
}

.order-box .btn {
    font-size: 2rem;
    margin-left: 3rem;
    background-color: #ffc727;
    color: brown;
}

.home .content h1 {
    font-size: 5.8rem;
    font-weight: 700;
    margin-bottom: 2rem;
}
  
.home .content p {
    color: var(--grey);
    font-size: 1.8rem;
    margin-bottom: 2rem;
}
/* กรอบรอบgo to menu */
.home .content .home-btn {
    display: inline-block;
    color: var(--white);
    font-weight: 500;
    border-radius: 0.5rem;
    background-color: var(--yellow);
    padding: 1rem 1.5rem;
    margin-top: 1rem;
    transition: var(--transition);
}
/* เงา+ขยับ */ 
.home .content .home-btn:hover {
    transform: translateY(-3px);
    box-shadow: var(--box-shadow);
}

/* =========== Popular =========== */
.popular .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}
/* กรอบ */
.popular .box-container .box{
    flex: 1 1 30rem;
    position: relative;
    overflow: hidden;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    border: .1rem solid rgba(0, 0, 0, .3);
    cursor: pointer;
    border-radius: .5rem;
}
/* ซ้อนรูป */
.popular .box-container .box .image{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: -100%; left: 0;
}
/* จัดตัวหนงัสือ */
.popular .box-container .box .content{
    text-align: center;
    background: #fff;
    padding: 2rem;
}
.popular .box-container .box .content img{
    margin: 1.5rem 0;
}
.popular .box-container .box .content h3{
    font-size: 2.5rem;
    color: #333;
}
.popular .box-container .box .content p{
    font-size: 1.6rem;
    color: #666;
    padding:1rem  0;
}
/* จิ้มรูปแล้วรูปเปลี่ยน */
.popular .box-container .box:hover .image{
    top: 0;
}
.popular .box-container .box:hover .content{
    transform: translateY(100%);
}

/* =========== Menu =========== */
/* เรียงboxให้เป็นแถวนอน*/
.menu .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}
/* เพิ่มขอบbox+จัดเรียง*/
.menu .box-container .box{
    padding: 2rem;
    background: #fff;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    border: .1rem solid rgba(0, 0, 0, .3);
    border-radius: .5rem;
    text-align: center;
    flex: 1 1 30rem;
    position: relative;
}
/* จัดรูปในbox*/
.menu .box-container .box img{
    height: 25rem;
    object-fit: cover;
    width: 100%;
    border-radius: .5rem;
}
/* whyมันไม่ขึ้นเป็นbox*/
.menu .box-container .box .price{
    position: absolute;
    top: 3rem; left: 3rem;
    background: #E96479;
    color: #fff;
    font-size: 2rem;
    padding: 6px;
    border-radius: .5rem;
}
.menu .box-container .box .h3{
    color: #333;
    font-size: 2.5rem;
    padding: 1rem;
}
.menu .box-container .box .stars{
    color: gold;
    font-size: 1.7rem;
    padding-top: 1rem ;
}


/* =========== review =========== */
.review .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.review .box-container .box{
    text-align: center;
    padding: 2rem;
    border: 1rem solid #fff;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .3);
    border-radius: .5rem;
    flex: 1 1 30rem;
    background: #333;
    margin-top: 6rem;
}
.review .box-container .box img{
    height: 12rem;
    width: 12rem;
    border-radius: 50%;
    border: 1rem solid #fff;
    margin-top: -8rem;
    object-fit: cover;
}
.review .box-container .box h3{
    font-size: 2.5rem;
    color: #fff;
    padding: .5rem 0;
}
.review .box-container .box .stars i{
    font-size: 2.5rem;
    color: #E96479;
    padding: .5rem 0;
}
.review .box-container .box p{
    font-size: 1.5rem;
    color: #eee;
    padding: 1rem 0;
}


/* =========== Footer =========== */
.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
    gap: 1.5rem;
    align-items: flex-start;
}
.footer .box-container .box{
    text-align: center;
}
.footer .box-container .box i{
    font-size: 2.5rem;
    line-height: 6rem;
    width: 6rem;
    border-radius: 50%;
    background-color: var(--black);
    color:var(--white);
    margin-bottom: 1rem;
}
.footer .box-container .box h3{
    margin: 1rem 0;
    font-size: 2rem;
    color:var(--black);
}
.footer .box-container .box p{
    line-height: 2;
    font-size: 1.6rem;
    color:var(--light-color) ;
}
.footer .credit{
    text-align: center;
    margin-top: 3rem;
    padding-top: 2.5rem;
    border-top: var(--border);
    font-size: 1.8rem;
    color: var(--black);
}


/* =========== Media =========== */
@media(max-width:991px){
    html {
        font-size: 55%
    }
    header {
        padding: 2rem;
    }
    section {
        padding: 2rem;
    }
    .home .image{
        display: inline;
    }
}

@media(max-width:768px){
    #menu-bar{
        display: initial;
    }
    header .navbar{
        position: absolute;
        top:100%; left: 0; right: 0;
        background: #f7f7f7;
        border-top: .1rem solid rgba(0, 0, 0, .1);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    header .navbar a{
        margin: 1.5rem;
        padding: 1.5rem;
        display: block;
        border: .2rem solid rgba(0, 0, 0, .1);
        border-left: .5rem solid var(--red);
        background:#f7f7f7 ;
    }
    .home .image{
        display: none;
    }

    /* =========== ของOrdertest =========== */
    .cart-info p{
        display: none;
    }
}

@media(max-width:400px){
    html {
        font-size: 50%
    }
}



/* =========== ของOrdertest =========== */
.cart-page{
    margin: 80px auto;
}
table{
    width: 100%;
    border-collapse: collapse;
}
.cart-info{
    display: flex;
    flex-wrap: wrap;
}
th{
    text-align: left;
    padding: 5px;
    color: #fff;
    background: #ffc554;
    font-weight: normal;
}
td{
    padding: 10px 5px;
}
td input{
    width: 40px;
    height: 30px;
    padding: 5px;
}
td a{
    color: #ffc727;
    font-size: 12px;
}
td img{
    width: 80px;
    height: 80px;
    margin-right: 10px;
}
.total-price{
    display: flex;
    justify-content: flex-end;
}
.total-price table{
    border-top: 3px solid #ffc727;
    width: 100%;
    max-width: 400px;
}
td:last-child{
    text-align: right;
}
td:last-child{
    text-align: right;
}